* {
    box-sizing: border-box
}
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p,
ul {
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif
}
body {
    overflow-x: hidden;
    background-size: cover;
}
header {
    color: #f5ae23;
    text-align: center;
    background-color: #3a3a36;
}
h1 {
    font-size: 40px;
    color: #f5ae23;
    line-height: 48px;
    display: inline
}
.glyphmenu {
    text-align: center;
    background-color: #33cc33;
}
.menuicn {
    font-size: 30px;
    color: black;
}
#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin-top: 5%;
}
#wrapper.toggled {
    padding-left: 250px;
}
#menu-toggle {
    text-align: left;
}
#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}
#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #808080;
    border-top: 2px #33cc33;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
/* Sidebar Styles */

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 100px;
}
.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}
.sidebar-list {
    list-style: none;
    color: white;
}
.sidebar-heading {
    color: #33cc33;
    margin-top: 50px;
}
.sicn {
    color: #33cc33;
}
#map {
    height: 600px;
    margin-left: 60px;
}
#pano {
    width: 800px;
    height: 400px;
}
@media(min-width: 600px) {
    #wrapper {
        padding-left: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
    #sidebar-wrapper {
        width: 270px;
    }
    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }
    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}